.vf_grid_outer {
    max-width: 100%;
    overflow: visible;
    font-size: 60% !important;
}

th {
    padding: 0.2em 0.1em 1em 0.1em !important;
    line-height: 1.2 !important;
}

td {
    padding: 0 !important;
    line-height: 1.2 !important;
}

table.vf_grid th {
    background-color: #eee;
    color: #444;
    border: solid 2px #333;
    padding: 0.2em 0.5em 1em 0.5em;
    vertical-align: top;
}

h2 {
    margin-top: 1em;
    font-family: Helvetica, "MontserratRegular";
    font-size: 120% !important;
}

/*
body { background-color: #000; }
*/

table.vf_grid {
    /*background: url(grass.png) ;*/
    color: #444;
    font-family: Helvetica, "MontserratRegular";
    border-collapse: collapse;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    page-break-after: always;
    border-spacing: 0px;
}

th.vf_grid_venue {
    vertical-align: bottom;
    padding-top: 1em;
}

.vf_grid_event {
    border: solid 2px #999;
    background-color: #eea;
    vertical-align: top;
    text-align: center;
}

.vf_grid_now {
    background-color: yellow;
}

.vf_grid_inner {
    padding: 0.5em;
}

.vf_grid_col_vlast {
    /*border-right: dashed 2px #000;*/
}

.vf_grid_freecell {
    background-color: #eee;
}

.vf_grid_row_hour_even .vf_grid_freecell {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_freecell {
    background-color: rgba(0, 0, 0, 0.14) !important;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_freecell {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.vf_grid_event_noend {
    background: url(saw.png) #ffe repeat-x bottom;
    padding-bottom: 20px !important;
}

.vf_grid_venue_VentnorBotanicGarden.vf_grid_event,
.vf_grid_venue_Parkside.vf_grid_event {
    background-color: #cfc;
    color: #040;
}

.vf_grid_freecell {
    /*border-bottom: 1px dashed #cfc;*/
    background: transparent;
}

.vf_grid_venue_ObservatoryBar.vf_grid_event {
    background-color: #ccf;
    color: #004;
}

/*
.vf_grid_venue_ObservatoryBar.vf_grid_freecell {
  background: url(clouds.png) fixed;
}
*/


.vf_grid_cell_title {
}

.vf_grid_cat {
    /*border: solid 1px #000;*/
    padding: 2px 2px 0px 2px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 70%;
    margin: 6px;
    word-wrap: nowrap;
    display: inline-block;
}

.vf_grid_event_middle {
    position: relative;
    padding: 0 0.3em 1em 0.3em;
}


/* itinierary grid stuff */
.vf_grid_it {
    background-color: #31e069 !important;
    border: solid 2px black;
}

.vf_grid_it_toggle {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    font-size: 70%;
    padding: 3px;
}

.vf_grid_it_remove {
    display: none;
}

.vf_grid_it .vf_grid_it_remove {
    display: block;
}

.vf_grid_it .vf_grid_it_add {
    display: none;
}

.vf_grid_event:hover .vf_grid_it_toggle {
    background-color: black;
    color: white;
}

.vf_grid_event:hover .vf_grid_it_toggle:hover {
    background-color: blue;
    color: white;
}

.vf_grid_clash {
    background-color: #333 !important;
    color: #ccc !important;
    border-color: #000 !important;
}

/* end of itinierary grid stuff */


.vf_grid_cell_desc {
    display: none;
}

.vf_grid_infobox {
    background-color: white;
    border: solid 2px black;
    position: fixed;
    max-height: 45%;
    width: 94%;
    left: 3%;
    padding: 0.5em;
    overflow: hidden;
    font-size: 80%;
    z-index: 1000;
}

.vf_grid_infobox_top {
    top: 3%;
}

.vf_grid_infobox_bottom {
    bottom: 3%;
}


/* pink */

.vf_grid_venue_theflowersbrookinn.vf_grid_freecell,
.vf_grid_venue_theflowersbrookinn.vf_grid_freecell,
.vf_grid_venue_thebigtop.vf_grid_freecell {
    background-color: #fff8f8 !important;
}

.vf_grid_row_hour_even .vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thebigtop.vf_grid_freecell {
    background-color: #ffe9e9 !important;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_theflowersbrookinn.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thebigtop.vf_grid_freecell {
    background-color: #fff8f8 !important;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_theflowersbrookinn.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thebigtop.vf_grid_freecell {
    background-color: #ffd8d8 !important;
}

/* blue */

.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #f8f8ff !important;
}

.vf_grid_row_hour_even .vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #e9e9ff !important;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #f8f8ff !important;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #d8d8ff !important;
}


/* green */

.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_venue_themagpie.vf_grid_freecell {
    background-color: #f8fff8 !important;
}

.vf_grid_row_hour_even .vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_venue_themagpie.vf_grid_freecell {
    background-color: #e9ffe9 !important;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_themagpie.vf_grid_freecell {
    background-color: #f8fff8 !important;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_themagpie.vf_grid_freecell {
    background-color: #d8ffd8 !important;
}

/* busy needs to go after the column colours */
/*
.vf_grid_busy {
  background-color: rgba(0,0,0,0.7) !important;
}
.vf_grid_row_hour_even .vf_grid_freecell.vf_grid_busy {
  background-color: rgba(0,0,0,0.6) !important;
}
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_freecell.vf_grid_busy { 
  background-color: rgba(0,0,0,0.74) !important;
}
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_freecell.vf_grid_busy { 
  background-color: rgba(0,0,0,0.64) !important;
}
*/
