html, body, #eut-content {
}

.vf_grid_outer {
    max-width: 100%;
    overflow-x: scroll;
}

#eut-content table.vf_grid td {
    padding: 0 !important;
    line-height: 1.2 !important;
}

#eut-content table.vf_grid th {
    background-color: #eee;
    color: #444;
    border: solid 2px #ccc !important;
    vertical-align: top;
    padding: 0.2em 0.1em 1em 0.1em;
    line-height: 1.2;
}

h2 {
    margin-top: 1em;
    font-family: Helvetica, "MontserratRegular", sans-serif;
    font-size: 120% !important;
}

#eut-content table.vf_grid {
    color: #444;
    font-family: Helvetica, "MontserratRegular", sans-serif;
    border-collapse: collapse;
    border-right: solid 1px black !important;
    border-bottom: solid 1px black !important;
    page-break-after: always;
    border-spacing: 0;
}

th.vf_grid_venue {
    vertical-align: bottom;
    padding-top: 1em;
}

#eut-content .vf_grid_event {
    border: solid 2px #ccc !important;
    background-color: #eea;
    vertical-align: top;
    text-align: center;
}

.vf_grid_now {
    background-color: #ffff80;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
    font-size: 80%;
    padding-top: 2px;
    color: #808080;
}

.vf_grid_event .vf_grid_now {
    border-bottom: solid 2px #ccc !important;
    background-color: #ffcf18;
}

.vf_grid_inner {
    padding: 0.5em;
}


.vf_grid_event_noend {
    background: url(saw.png) #ffe repeat-x bottom;
    padding-bottom: 20px !important;
}

.vf_grid_freecell {
    background: transparent;
}

.vf_grid_event_middle {
    position: relative;
    padding: 0 0.3em 1em 0.3em;
}


/* itinerary grid stuff */


.vf_grid_it_toggle {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    font-size: 70%;
    padding: 3px;
}

.vf_grid_it_remove {
    display: none;
}

.vf_grid_it .vf_grid_it_remove {
    display: block;
}

.vf_grid_it .vf_grid_it_add {
    display: none;
}

.vf_grid_event:hover .vf_grid_it_toggle {
    background-color: black;
    color: white;
}

.vf_grid_event:hover .vf_grid_it_toggle:hover {
    background-color: blue;
    color: white;
}

.vf_grid_cell_tag {
    background-color: #43a743;
    color: #fff;
    font-size: 70%;
    margin-top: 0.3em;
    padding: 0.2em 0.3em 0.1em 0.3em;
    border-radius: 0.5em;
    text-align: center;
}

/* end of itinerary grid stuff */


/* POPUP EVENT DESCRIPTION THING */

.vf_grid_cell_desc {
    display: none;
}

.vf_grid_infobox {
    background-color: white;
    border: solid 2px black;
    position: fixed;
    max-height: 45%;
    width: 94%;
    left: 3%;
    padding: 0.5em;
    overflow: hidden;
    font-size: 80%;
    z-index: 1000;
}

.vf_grid_infobox_top {
    top: 3%;
}

.vf_grid_infobox_bottom {
    bottom: 3%;
}

/* end of POPUP EVENT DESCRIPTION THING */


/********* GRID COLOURS ********/

/* default */
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_freecell {
    background-color: #f8f8f8;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_freecell {
    background-color: #e9e9e9;
}

.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_freecell {
    background-color: #e9e9e9;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_freecell {
    background-color: #d8d8d8;
}





/* purple */

.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ingramsyard.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thecontainer.vf_grid_freecell {
    background-color: #fff8ff;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ingramsyard.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thecontainer.vf_grid_freecell {
    background-color: #ffe9ff;
}

.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ingramsyard.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thecontainer.vf_grid_freecell {
    background-color: #ffe9ff;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ingramsyard.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thecontainer.vf_grid_freecell {
    background-color: #ffd8ff;
}


/* pink */

.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_rotunda.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ventnorexchangearena.vf_grid_freecell {
    background-color: #fff8f8;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_rotunda.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorexchangearena.vf_grid_freecell {
    background-color: #ffe9e9;
}

.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_rotunda.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ventnorexchangearena.vf_grid_freecell {
    background-color: #ffe9e9;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_rotunda.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thebigtopbar.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorexchangearena.vf_grid_freecell {
    background-color: #ffd8d8;
}

/* blue */

.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #f8f8ff;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #e9e9ff;
}

.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #e9e9ff;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorexchange.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thefringesquare.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thebookbus.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_stcatherineschurch.vf_grid_freecell {
    background-color: #d8d8ff;
}


/* green */
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_bijou.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_boscotheatre.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ventnorparkputtinggreenend.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thefringevillageboxoffice.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell {
    background-color: #f8fff8;
}

.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_bijou.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_boscotheatre.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorparkputtinggreenend.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thefringevillageboxoffice.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_odd .vf_grid_col_even.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell {
    background-color: #e2ffe2;
}

.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_bijou.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_boscotheatre.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ventnorparkputtinggreenend.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thefringevillageboxoffice.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell {
    background-color: #e2ffe2;
}

.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_bijou.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_boscotheatre.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorparkputtinggreenend.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thefringevillageboxoffice.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorputtinggreenventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_ventnorpark.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thefringevillage.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_fringevillagebandstand.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_thenest.vf_grid_freecell,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_venue_familyfringeentranceofventnorpark.vf_grid_freecell {
    background-color: #c8ffc8;
}

/* busy needs to go after the column colours */

/*
.vf_grid_row_hour_odd .vf_grid_col_odd.vf_grid_freecell.vf_grid_hard_clash,
.vf_grid_row_hour_even .vf_grid_col_odd.vf_grid_freecell.vf_grid_hard_clash,
.vf_grid_row_hour_even .vf_grid_col_even.vf_grid_freecell.vf_grid_hard_clash,
.vf_grid_row_hour_odd  .vf_grid_col_even.vf_grid_freecell.vf_grid_hard_clash {
    background-color: #444444;
}
 */

#eut-content .vf_grid_event.vf_grid_hard_clash,
#eut-content .vf_grid_event.vf_grid_soft_clash {
    background-color: #f8f8f8;
}

/* selected events */

#eut-content .vf_grid_it {
    background-color: #31e069;
}


/* Itinerary hovering control */

.vf_it_control {
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 0.2em 1em;
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 10000;
    text-decoration: none;
}

.vf_it_control:hover {
    background-color: #666666;
}
