
.chrisvf_now_and_next {
    border: solid 1px transparent;
    padding: 0.5em;
}

.chrisvf_now_and_next:hover {
    border:dashed 1px #ccc;
}


.chrisvf_slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 80%;
}

.chrisvf_slides ul {
    list-style: none;
    width: 100%;
    height: 4.5em;
    margin: 0;
    padding: 0;
    position: relative;
}

.chrisvf_slides li {
    line-height: 1;
    width: 100%;
    height: 1.6em;
    text-align: left;
    position: relative;
    overflow-y: hidden;
}
